.capsule {
  position: relative;
  width: 100%;
  height: 115px;
  display: flex;
  align-items: center;
  padding: 25px 25px 25px 40px;
  margin: 25px 0 25px 0;
  border-radius: 100px;
  background-color: white;
  box-shadow: $shadow;
  text-transform: uppercase;
  text-align: left;
  .talent {
    font-weight: bold;
  }
  .subtalent {
    color: $medium-gray;
    margin-top: 6px;
  }
}
.capsule-text {
  width: 70%;
}
.capsule-badge {
  width: 85px;
  height: 85px;
  position: absolute;
  right: 14px;
  top: 14px;
  border-radius: 50%;
  color:white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
