.mosaique {
  width: 100%;
  min-height: 100px;
  padding: 30px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  img {
    margin: 0 26px 26px 0px;
  }
}
