$blue-gray: #B9BCC7;
$medium-gray: #4A4A4A;
$red: #F15757;
$blue: #56ABAD;
$green: #59B873;
$purple: #BD6594;
$yellow: #F6BE63;
$shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 2px 0 0 rgba(0,0,0,0.03);

body {
  background-color: $blue-gray;
  color: black;
  font-family: "Open sans", helvetica, sans-serif;
  font-weight: 400;
}
a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

h1 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}
p {
  font-size: 14px;
}
