<!-- <a class="btn-large" href="mailto:<%= mail %> "> -->
<div class="btn-list">
  <div class="btn btn-large">
    <%= mail %>
  </div>
  <div class="btn btn-large2">
    <%= mail %>
  </div>
</div>
<!-- </a> -->
