<div class="capsule">
  <div class="capsule-text">
    <p class="talent"><%= title %></p>
    <p class="subtalent"><%= subtitle %></p>
  </div>
  <div class="capsule-badge" style="background-color: <%= color %>">
    <i class="fa fa-<%= icon %>" aria-hidden="true"></i>
  </div>
</div>
