<div class="mosaique">
  <img src="images/github.png" alt="">
  <img src="images/git.png" alt="">
  <img src="images/terminal.png" alt="">
  <img src="images/html5.png" alt="">
  <img src="images/css.png" alt="">
  <img src="images/JS.png" alt="">
  <img src="images/bootstrap.png" alt="">
  <img src="images/ruby.png" alt="">
  <img src="images/heroku.png" alt="">
  <img src="images/photoshop.png" alt="">
  <img src="images/illustrator.png" alt="">
  <img src="images/indesign.png" alt="">
  <img src="images/sketch.png" alt="">
  <img src="images/jquery.png" alt="">
  <img src="images/rails.png" alt="">
</div>
